.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 270px;
  background: #001529;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto; /* Nếu menu dài có thể scroll riêng */
}
.main {
  margin-left: 280px; /* Đẩy phần nội dung sang phải */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px;
  background-color: #f5f5f5;
  flex: 1;
}

.title {
  color: rgb(255, 255, 255);
  margin: 20px 20px 15px;
}

.title-logout {
  color: #333;
  cursor: pointer;
}